
<html>

<head>
	<title>Wireless and Mobile System (WIMOS) Research Group</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<meta name="description" content="The Social Futures Lab is based out of the School of Computing  at Wichita State University. We are designing wireless and mobile computing systems.">

	<meta property="og:title" content="Wireless and Mobile System (WIMOS) Research Group">

	<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Roboto+Mono:ital,wght@0,500;1,300&display=swap" rel="stylesheet">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="css/mavo.min.css">
	<script src="js/mavo.es5.min.js"></script>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="./cursor-chat-v0.2.0/dist/style.css"/>
</head>


<body>


<!-- Skip to content link -->
<a href="#projects" class="skip-link" style="position: absolute; left: -9999px; opacity: 0;">Skip to main content</a>

	<!-- top nav -->
	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<a href="index.html">< class="logo" alt="Wireless and Mobile System (WIMOS) Research Group"></a>
			</div>

			<div class="col-md-2 col-lg-2"></div>

			<div class="col-xs-12 col-sm-7 col-md-5 col-lg-5 menu">
				<a href="index.html">Research</a>
				<a href="members.html">Team</a>
			</div>
		</div>
	</div>


	<!-- header -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<p class="title">The <b>Wireless and Mobile System (WIMOS) Research Group</b> is based out of the <a href="https://www.wichita.edu/academics/engineering/SoC/">School of Computing</a> at Wichita State University. We are designing wireless and mobile computing systems. <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalLong">
				</p>

			</div>
		</div>

		<hr />



		<!-- Top section -->
		<div class="row">

			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<!-- People -->
				<div id="projects" mv-bar="none" mv-app="people" mv-source="https://github.com/redsunwichita/redsunwichita.github.io">
					<h2 >People</h2>

					<div class="row">
						<!-- Each member -->
						<article class="member-index" property="member" typeof="Person" mv-multiple>
							<span class="[if(alum, hideauthor)]">
								<a href="[website_url]" property="homepage" aria-label="[name]">
									<img src="null" class="person-img" property="image" alt=""><br />
									<span property="name">Name</span>
								</a>

								<meta property="id" content="[name]">

								<p property="jobTitle">
									<select>
										<option value="pi">Assistant Professor</option>
										<option value="phd" selected>PhD Student</option>
										<option value="masters">Masters Student</option>
										<option value="undergrad">Undergraduate Student</option>
									</select>
								</p>
							</span>
						</article>
					</div>

					<div hidden>
						<datalist id="memberList">
							<option property="person" mv-multiple mv-value="name"></option>
						</datalist>
					</div>
				</div>

			</div>

			<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

			<div class="col-xs-12 col-sm-4 col-md-4" style="float: right">
				<!-- News -->
				<h2>News</h2>

				<div mv-bar="none" mv-app="news" mv-source="https://github.com/redsunwichita/redsunwichita.github.io">
					<span property="news_item" mv-multiple mv-if="$index < 10">
						<span property="date">Date</span>:
						<span property="title">
							Title
						</span>
						
						<a href="[link.link_url]" class="button" mv-if="'link_url' in link and link.link_url != 'null' and link.link_url != ''">
							<span aria-label="[title]">
								&rightarrow;
							</span>
						</a>
						<br /><br />
					</span>
				</div>



			</div>
		</div>

		<hr />




  <!-- Footer -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="./cursor-chat-v0.2.0/dist/cursor-chat.es.js"></script>
  </body>
</html>
